[pull]
	rebase = false
[push]
  default = current
[core]
  editor = code --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED

# allow ~/.gitconfig.local to override anything (works with git 1.7.10+, which
# means Ubuntu 14.04+) -- this needs to be the last thing in this file!
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
